server {
    listen 80;
    server_name {{ jenkins_domain }};
    client_max_body_size 2048M;
    root        /var/www/html;

    access_log /var/log/nginx/{{ jenkins_domain }}.access.log;
    error_log /var/log/nginx/{{ jenkins_domain }}.error.log;

    location / {
        proxy_set_header Host $host:$server_port;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass http://localhost:8080;
        proxy_read_timeout 90;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}